body{
    background: url(Images/bg-2.jpg);
    background-size:100%;
    background-repeat:no-repeat;
}

.dropdown-cities {
    margin-top: 10px;
    /*margin-left: 70px;*/
    -webkit-appearance: none;
    background: url(Images/SearchPopOut.png);
    background-position: right;
    background-repeat: no-repeat;
    outline: none !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
    font-size:24px;
}

.dropdown-cities:hover, .dropdown-cities:active, .dropdown-cities:focus {
    outline: none !important;
    background-color:white;
}

.center {
    margin: 0 auto;
    display: table;
}

.search-container {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top:30%;
    height:200px;
}

.search-container h3 {
    color: #f78119;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

.blank_row {
    height: 15px; /* overwrites any other rules */
    background-color: transparent;
}


@media screen and (max-width: 767px) {
    body {
        background: url(Images/bg-2-mobile.jpg);
        background-size: auto;
    }

    .search-container {
        margin-top: 60% !important;
        height:150px;
    }

    .search-container h3 {
        font-size: 20px;
    }

    .dropdown-cities {
        font-size: 18px;
        background-size:auto;
    }

    .blank_row {
        height: 10px; /* overwrites any other rules */
        background-color: transparent;
    }
    
}

@media (min-width: 768px) and (max-width: 1296px) {
    body {
        background-size: auto;
        background-position: center;
    }
}