body {
    background-color: #f1f1f1 ;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 700px;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #ffffff;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

li {
    list-style-type: none;
}

.results-item {
    box-shadow: 2px 1px 4px black;
    background-color: #ffffff;
    font-size: 14px;
    width: 100%;
}

.results-item .picture {
    margin: auto;
    cursor: pointer;
    width: 280px;
    height: 195px;
    padding: 15px;
}

.results-item td {
    text-align:left;
}

.results-item .parameters {
    white-space: nowrap;
}

.results-item .parameter {
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
}

.results-item .description {
    margin: 12px 0 8px 0;
}

.grey {
    color: #808080;
}

.left-td {
    width:20%;
}
.right-td{
    width:80%;
}

.rating {
    text-align: center !important;
    width: 224px;
    font-size: 10px;
}

.rating .cursomerRatingControl {
    margin: 0 auto;
}

.results-item .rating-picture {
    width: 153px;
    height: 28px;
    margin: 0 auto;
    display: table;
}

.results-item .rating-text{
    margin:0 auto;
    display:table;
}

.blank_row {
    height: 15px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}
